<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<h2>Connections</h2>
<table>
    <tbody>
        <tr id="Parameters">
            <th><label for="VIPCheckbox">Show only connected :</label>
            <input type="checkbox" id="ConnectedCheckbox" name=ConnectedCheckbox></th>
            <th><label for="BlacklistCheckbox">Show blacklisted: </label>
            <input type="checkbox" id="BlacklistCheckbox" name="BlacklistCheckbox"></th>
            <th><label for="VIPCheckbox">Show only VIP :</label>
            <input type="checkbox" id="VIPCheckbox" name="VIPCheckbox"></th>
        </tr>
    </tbody>
</table>


<table id="jsonTable">
    <thead>
        <tr>
            <th id="Header name">Name</th>
            <th id="Header Connected">Connected</th>
            <th id="Header MAC">MAC</th>
            <th id="Header IP">Current IP</th>
            <th id="Header LIP">Last IP</th>
            <th id="Header Blacklist">Blacklisted</th>
            <th id="Header VIP">VIP?</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table rows will be inserted here by JavaScript -->
    </tbody>
</table>

<span id="statusMessage" class="status-message">Copied successfully.</span>


<!-- Include the script.js file -->
<script src="../static/script.js"></script>


</body>
</html>